In [6]:
import pandas as pd

# Đọc 3 file 
df_basics = pd.read_csv('title.basics.tsv', sep='\t', low_memory=False)
df_ratings = pd.read_csv('title.ratings.tsv', sep='\t', low_memory=False)
df_crew = pd.read_csv('title.crew.tsv', sep='\t', low_memory=False)

In [7]:
# Tạo thêm thuộc tính primaryTitleLength bằng độ dài tên chính primaryTitle trong file title.basics.tsv --> thêm vào file title.basics
# Tạo thêm thuộc tính numGenres là số lượng thể loại được tính toán từ thuộc tính Genres trong file title.basics.tsv --> thêm vào file title.basics
# Tạo thêm thuộc tính writerCount là số lượng nhà văn được tính từ thuộc tính Writers trong file title.crew.tsv --> thêm vào file title.crew

In [8]:
# Đảm bảo tất cả các giá trị trong cột 'primaryTitle' là chuỗi và xử lý giá trị thiếu
df_basics['primaryTitle'] = df_basics['primaryTitle'].astype(str).fillna('')
# Tạo cột mới 'titleLength' chứa độ dài của mỗi giá trị trong cột 'primaryTitle'
df_basics['titleLength'] = df_basics['primaryTitle'].apply(lambda x: len(x))

In [9]:
# Tạo cột mới 'numGenres' là số lượng thể loại từ 'genres'
df_basics['numGenres'] = df_basics['genres'].apply(lambda x: len(x.split(',')) if pd.notnull(x) else 0)

In [10]:
print(df_basics)

             tconst  titleType               primaryTitle  \
0         tt0000001      short                 Carmencita
1         tt0000002      short     Le clown et ses chiens
2         tt0000003      short             Pauvre Pierrot
3         tt0000004      short                Un bon bock
4         tt0000005      short           Blacksmith Scene
...             ...        ...                        ...
10782261  tt9916848  tvEpisode              Episode #3.17
10782262  tt9916850  tvEpisode              Episode #3.19
10782263  tt9916852  tvEpisode              Episode #3.20
10782264  tt9916856      short                   The Wind
10782265  tt9916880  tvEpisode  Horrid Henry Knows It All

                      originalTitle isAdult startYear endYear runtimeMinutes  \
0                        Carmencita       0      1894      \N              1
1            Le clown et ses chiens       0      1892      \N              5
2                    Pauvre Pierrot       0      1892      \N              5
3                       Un bon bock       0      1892      \N             12
4                  Blacksmith Scene       0      1893      \N              1
...                             ...     ...       ...     ...            ...
10782261              Episode #3.17       0      2009      \N             \N
10782262              Episode #3.19       0      2010      \N             \N
10782263              Episode #3.20       0      2010      \N             \N
10782264                   The Wind       0      2015      \N             27
10782265  Horrid Henry Knows It All       0      2014      \N             10

                              genres  titleLength  numGenres
0                  Documentary,Short           10          2
1                    Animation,Short           22          2
2           Animation,Comedy,Romance           14          3
3                    Animation,Short           11          2
4                       Comedy,Short           16          2
...                              ...          ...        ...
10782261         Action,Drama,Family           13          3
10782262         Action,Drama,Family           13          3
10782263         Action,Drama,Family           13          3
10782264                       Short            8          1
10782265  Adventure,Animation,Comedy           25          3

[10782266 rows x 11 columns]

In [11]:
# Tạo thêm cột 'writerCount' là số lượng nhà văn từ cột 'writers'
df_crew['writerCount'] = df_crew['writers'].apply(lambda x: len(x.split(',')) if pd.notnull(x) else 0)

In [12]:
# Gộp 3 files thông qua thuộc tính 'tconst'
# Tạo ra file mới 'merged_df'
merged_df = df_basics.merge(df_ratings, on='tconst', how='inner')  # Inner join (keeps all rows)
merged_df = merged_df.merge(df_crew, on='tconst', how='inner')  # Merge with crew data

# Chuyển file thành định dạng csv
merged_df.to_csv('merged_data.tsv', sep='\t', index=False)  # Without index column

# In ra 
print(merged_df)

            tconst  titleType                primaryTitle  \
0        tt0000001      short                  Carmencita
1        tt0000002      short      Le clown et ses chiens
2        tt0000003      short              Pauvre Pierrot
3        tt0000004      short                 Un bon bock
4        tt0000005      short            Blacksmith Scene
...            ...        ...                         ...
1426275  tt9916730      movie                      6 Gunn
1426276  tt9916766  tvEpisode              Episode #10.15
1426277  tt9916778  tvEpisode                      Escape
1426278  tt9916840  tvEpisode  Horrid Henry's Comic Caper
1426279  tt9916880  tvEpisode   Horrid Henry Knows It All

                      originalTitle isAdult startYear endYear runtimeMinutes  \
0                        Carmencita       0      1894      \N              1
1            Le clown et ses chiens       0      1892      \N              5
2                    Pauvre Pierrot       0      1892      \N              5
3                       Un bon bock       0      1892      \N             12
4                  Blacksmith Scene       0      1893      \N              1
...                             ...     ...       ...     ...            ...
1426275                      6 Gunn       0      2017      \N            116
1426276              Episode #10.15       0      2019      \N             43
1426277                      Escape       0      2019      \N             \N
1426278  Horrid Henry's Comic Caper       0      2014      \N             11
1426279   Horrid Henry Knows It All       0      2014      \N             10

                              genres  titleLength  numGenres  averageRating  \
0                  Documentary,Short           10          2            5.7
1                    Animation,Short           22          2            5.7
2           Animation,Comedy,Romance           14          3            6.5
3                    Animation,Short           11          2            5.4
4                       Comedy,Short           16          2            6.2
...                              ...          ...        ...            ...
1426275                        Drama            6          1            7.0
1426276  Family,Game-Show,Reality-TV           14          3            7.1
1426277          Crime,Drama,Mystery            6          3            7.2
1426278   Adventure,Animation,Comedy           26          3            7.0
1426279   Adventure,Animation,Comedy           25          3            8.5

         numVotes            directors              writers  writerCount
0            2058            nm0005690                   \N            1
1             276            nm0721526                   \N            1
2            2014            nm0721526                   \N            1
3             179            nm0721526                   \N            1
4            2784            nm0005690                   \N            1
...           ...                  ...                  ...          ...
1426275        12           nm10538612           nm10538612            1
1426276        23                   \N                   \N            1
1426277        36                   \N                   \N            1
1426278         9  nm0584014,nm0996406  nm1482639,nm2586970            2
1426279         7  nm0584014,nm0996406  nm1482639,nm2586970            2

[1426280 rows x 16 columns]

In [13]:
# Đếm số lượng dòng có ít nhất 1 giá trị null
missing_row_count = merged_df.isnull().any(axis=1).sum()
print(missing_row_count)

3

In [14]:
# gán merged_df vào 1 dataframe khác và sử dụng hàm dropna
filtered_df = merged_df.dropna()
# gán lại dataframe vào merged_df ban đầu 
merged_df = filtered_df
# in ra số lượng dòng merged_df
print(len(merged_df))

1426277

In [15]:
import pandas as pd
import numpy as np
from scipy import stats

# Hàm tìm outliers sử dụng z-scores
def identify_outliers_zscore(df, threshold=3):
    # chọn ra các cột có kiểu dữ liệu là số
  numerical_cols = df.select_dtypes(include=np.number) 
    #khởi tạo 1 dataframe rỗng
  outliers_df = pd.DataFrame() 
    # duyệt qua từng cột
  for col in numerical_cols:
      # tính absolute z-scores
    z_scores = np.abs(stats.zscore(df[col])) 
      # Lấy dòng với outlier trong từng cột
    outlier_rows = df[z_scores > threshold].index  
      # Thêm outlier vào dataframe
    outliers_df = pd.concat([outliers_df, df.loc[outlier_rows]], ignore_index=True)  
  return outliers_df.drop_duplicates()  
    # Xoá trùng (duplicate) nếu tồn tại

In [16]:
outlier_row_df = identify_outliers_zscore(merged_df.copy(), 3)
print(outlier_row_df)

          tconst  titleType  \
0      tt0000053      short
1      tt0000075      short
2      tt0000166      short
3      tt0000168      short
4      tt0000206      short
...          ...        ...
59013  tt9878574  tvEpisode
59014  tt9878576  tvEpisode
59015  tt9881616      movie
59016  tt9897038   tvSeries
59017  tt9900092   tvSeries

                                            primaryTitle  \
0      A Chegada do Comboio Inaugural à Estação Centr...
1      The Conjuring of a Woman at the House of Rober...
2      Salida de los trabajadores de la fábrica Españ...
3      Salida del público de la iglesia parroquial de...
4      Llegada de un tren a la estación de ferrocarri...
...                                                  ...
59013                                       Karamo Brown
59014                                        Jacob Tobia
59015                                    La filla d'algú
59016                                    Chip and Potato
59017                             Motherland: Fort Salem

                                           originalTitle isAdult startYear  \
0      A Chegada do Comboio Inaugural à Estação Centr...       0      1897
1         Escamotage d'une dame au théâtre Robert Houdin       0      1896
2      Salida de los trabajadores de la fábrica Españ...       0      1897
3      Salida del público de la iglesia parroquial de...       0      1897
4      Llegada de un tren a la estación de ferrocarri...       0      1898
...                                                  ...     ...       ...
59013                                       Karamo Brown       0      2019
59014                                        Jacob Tobia       0      2019
59015                                    La filla d'algú       0      2019
59016                                    Chip and Potato       0      2018
59017                             Motherland: Fort Salem       0      2020

      endYear runtimeMinutes                      genres  titleLength  \
0          \N             \N           Documentary,Short           57
1          \N              1                Horror,Short           54
2          \N              1           Documentary,Short           58
3          \N              1           Documentary,Short           66
4          \N             \N           Documentary,Short           71
...       ...            ...                         ...          ...
59013      \N             29       Comedy,News,Talk-Show           12
59014      \N             28       Comedy,News,Talk-Show           11
59015      \N             71                       Drama           15
59016      \N             23  Adventure,Animation,Comedy           15
59017    2022             42        Drama,Fantasy,Sci-Fi           22

       numGenres  averageRating  numVotes  \
0              2            3.3        19
1              2            6.3      2062
2              2            3.6        19
3              2            2.9        18
4              2            5.1        14
...          ...            ...       ...
59013          3            5.3        25
59014          3            5.2        28
59015          1            6.6        65
59016          3            6.2       227
59017          3            7.3     18807

                                               directors  \
0                                              nm0684607
1                                              nm0617588
2                                              nm0005717
3                                              nm0005717
4                                              nm0005717
...                                                  ...
59013                                nm2142199,nm2774033
59014                                          nm2142199
59015  nm5487558,nm2327950,nm9985563,nm10526485,nm791...
59016  nm2110365,nm2625612,nm4813436,nm0748843,nm1183...
59017  nm0850102,nm0463320,nm0011876,nm0292468,nm3345...

                                                 writers  writerCount
0                                                     \N            1
1                                                     \N            1
2                                                     \N            1
3                                                     \N            1
4                                                     \N            1
...                                                  ...          ...
59013  nm6194006,nm2174114,nm4012444,nm0810431,nm0935...           21
59014  nm6194006,nm2174114,nm4012444,nm0810431,nm0935...           21
59015  nm5487558,nm5402059,nm10526487,nm8845976,nm998...           17
59016  nm4674605,nm2702030,nm1354128,nm1393414,nm1371...           36
59017  nm2436744,nm6632654,nm3975663,nm7640985,nm4116...           16

[58027 rows x 16 columns]

In [17]:
print(merged_df.shape)

(1426277, 16)

In [18]:
# Xoá những dòng vừa in ra (những dòng có ít nhất 1 giá trị bị outlier)
temp_df = merged_df.drop(outlier_row_df.index)  
# Gán lại temp_df cho merged_df
merged_df = temp_df
print(merged_df.shape)

(1368250, 16)

In [19]:

dup_row = merged_df[merged_df.duplicated(subset='primaryTitle', keep=False)]
print(dup_row)

            tconst  titleType          primaryTitle         originalTitle  \
26342    tt0044729      movie       Hurricane Smith       Hurricane Smith
27019    tt0045555      movie          The Big Heat          The Big Heat
27086    tt0045630      movie  City Beneath the Sea  City Beneath the Sea
27142    tt0045698      movie    Angels of Darkness        Donne proibite
27215    tt0045780      movie             Forbidden             Forbidden
...            ...        ...                   ...                   ...
1426249  tt9916362      movie                 Coven              Akelarre
1426253  tt9916420  tvEpisode         Episode #21.1         Episode #21.1
1426256  tt9916460    tvMovie             Pink Taxi             Pink Taxi
1426276  tt9916766  tvEpisode        Episode #10.15        Episode #10.15
1426277  tt9916778  tvEpisode                Escape                Escape

        isAdult startYear endYear runtimeMinutes                       genres  \
26342         0      1952      \N             90     Action,Adventure,Romance
27019         0      1953      \N             89     Crime,Film-Noir,Thriller
27086         0      1953      \N             87       Action,Adventure,Drama
27142         0      1954      \N             94                        Drama
27215         0      1953      \N             85        Crime,Drama,Film-Noir
...         ...       ...     ...            ...                          ...
1426249       0      2020      \N             92                Drama,History
1426253       0      2019      \N             \N             Comedy,Game-Show
1426256       0      2019      \N             \N                       Comedy
1426276       0      2019      \N             43  Family,Game-Show,Reality-TV
1426277       0      2019      \N             \N          Crime,Drama,Mystery

         titleLength  numGenres  averageRating  numVotes  directors  \
26342             15          3            5.3       213  nm0394409
27019             12          3            7.9     29283  nm0000485
27086             20          3            5.4       703  nm0091430
27142             18          1            6.8       195  nm0024155
27215              9          3            6.3       518  nm0005789
...              ...        ...            ...       ...        ...
1426249            5          2            6.4      5808  nm1893148
1426253           13          2            7.3         8         \N
1426256            9          1            8.9        19  nm7048843
1426276           14          3            7.1        23         \N
1426277            6          3            7.2        36         \N

                                                   writers  writerCount
26342                                  nm0344246,nm0949583            2
27019                                  nm0091213,nm0569423            2
27086                        nm1027109,nm0367556,nm0739560            3
27142    nm0024155,nm0029558,nm0211459,nm0266488,nm0542...            9
27215                                  nm0755266,nm0234758            2
...                                                    ...          ...
1426249                                nm1893148,nm3471432            2
1426253                                                 \N            1
1426256                                nm7048843,nm8691452            2
1426276                                                 \N            1
1426277                                                 \N            1

[435794 rows x 16 columns]

In [20]:
print(merged_df.shape)

(1368250, 16)

In [21]:
merged_df_duplicates = merged_df[merged_df.duplicated(subset=['primaryTitle', 'originalTitle'])]
print(merged_df_duplicates.shape)

(326075, 16)

In [23]:
# Tạo merged_df_without_duplicates 
merged_df_without_duplicates = merged_df.drop_duplicates(subset=['primaryTitle', 'originalTitle'], keep = 'first')
# Gán merged_df_without_duplicates vào merged_df ban đầu
merged_df = merged_df_without_duplicates
# In ra thông số
print(merged_df.shape)

(1042175, 16)